/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-regur-also-read-post {
	// border: 1px dotted #f00;
}

// input 
.wp-block-create-block-regur-also-read-post input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}