/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-regur-also-read-post {
	background-color: #06b7d3;
	color: #fff;
	padding: 15px 10px;
	border-radius: 5px;
}

